[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[scripts]
server = "env FLASK_APP=abe.app:app FLASK_ENV=development flask run --port=3000"
test = "pytest"
lint = "flake8 abe tests *.py"
precommit = "bash ./scripts/pre-commit-check"
format = "autopep8 -ir abe tests"

[requires]
python_full_version = "3.6.5"  # https://devcenter.heroku.com/articles/python-runtimes

[packages]
arrow = "*"
blinker = "*"
celery = "*"
celery-with-mongodb = "*"
Flask = "*"
Flask-Cors = "*"
flask-restplus = "*"
Flask-SSLify = "*"
Flask-WTF = "*"
gunicorn = "*"
honcho = "*"
icalendar = "*"
isodate = "*"
mongoengine = "*"
netaddr = "*"
PyJWT = "*"
python-engineio = "*"
requests = "*"
eventlet = "*"  # is this package used?
greenlet = "*"  # is this package used?

[dev-packages]
autopep8 = "*"
codecov = "*"
coverage = "*"
flake8 = "*"
mccabe = "*"
pycodestyle = "==2.3.1"  # newer versions are incompatible with flake8 https://github.com/PyCQA/pycodestyle/issues/741
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
