<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Sign into ABE">
    <title>ABE : Account Info</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <style type="text/css">
        table { font-family: monospace; }
        th { text-align: left; }
        td { max-width: 500px; font-size: 9pt; overflow-x: hidden; text-overflow: ellipsis; }
        td:hover { overflow-x: scroll; text-overflow: inherit; }
    </style>
</head>
<body>
    <div>
        <h1>User Info</h1>
        <p>
            This page is for debugging OAuth.
        </p>

        <a href="/logout">Sign Out</a>

        <hr/>
        <table>
            {% for k in info %}
                <tr>
                    <th>{{ k }}</th>
                    <td>{{ info[k] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
