<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new label</title>
  </head>
  <body>
    <form action="/labels/" method="post">
      <label for="name">name</label><br>
      <input type="text" name="name" value=""><br>
      <label for="description">description</label><br>
      <input type="text" name="description" value=""><br>
      <label for="url">url</label><br>
      <input type="url" name="url" value=""><br>
      <input type="submit"/>
    </form>
  </body>
</html>
