<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Sign into ABE">
    <title>ABE : Sign In</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div>
        <h1>Sign into ABE</h1>
        <div class="subtitle">
            Sign into ABE with your email address, or with your Olin College
            Slack account.
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <dev class="flash">{{ message }}</dev>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if app %}
            <p>
                Signing in allows you to use the {{ app.name }} application to
                access ABE data.
            </p>
            {% if app.description %}
                <p>{{ app.description }}</p>
            {% endif %}
        {% else %}
            <p class="alert">
                You are signing in with an unregistered application. This
                application will have access to ABE data on your behalf. Proceed
                with caution!
            </p>
        {% endif %}

        <p>
            Sign in with your Olin email address. We'll send you an activation
            link that will sign you in on the computer that you use to visit it.
            (You won't be asked to create an account or password.)
        </p>
        <p>
            If you have an account on the <a href="https://olin.slack.com">Olin
            College Slack account</a>, you can also use Slack to sign in here.
        </p>
        {% if email_oauth_url %}
            <a id="email-oauth-link" href="{{ email_oauth_url }}">
                Sign in with <b>email</b>
            </a>
        {% endif %}
        {% if slack_oauth_url %}
            <a id="slack-oauth-link" href="{{ slack_oauth_url }}">
                <img src="https://api.slack.com/img/sign_in_with_slack.png" />
            </a>
        {% endif %}

        <h2>Why Do I Need to Sign In?</h2>
        <p>
            This lets us know that you're in the Olin Community. We'll show you
            Olin community events, and we'll trust you to add and edit calendar
            events.
        </p>
        <p>
            You don't need to sign in: if you're on campus; if this browser
            visited ABE recently from on campus; or, to view only public events.
        </p>

        <h2>Privacy</h2>
        <p>Here's what we currently store about you:</p>
        <dl>
            <dt>On your computer</dt>
            <dd>
                That you're authorized to view and edit events. Your email
                address. (But this is only used to check whether you have
                administrative access — it's not stored on the server.)
            </dd>
            <dt>On Google's analytics server</dt>
            <dd>How many people tried different things, and when. But not
            who. We use this to figure out what's worth keeping, and what
            to work on.</dd>
            <dt>On our server</dt>
            <dd>Nothing.</dd>
        </dl>
    </div>
</body>
</html>
